@import '../../../styles/variables.scss';

.container {
  background-color: $bgc-main;
  min-height: 100px;
  border-radius: $border-radius-main;
  margin-top: 133px;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
