@import '../../../styles/variables.scss';
// these styles are global

$input-border-radius: 6px;
$input-border-color: #e5e7eb;

.app-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & input,
  & input:focus-visible,
  & input:active {
    border-radius: $input-border-radius;
    border: 1px solid $input-border-color;
    background: $bgc-main;

    height: 32px;
    padding: 8px 12px 8px 10px;
    box-sizing: border-box;
    outline: none;
  }

  & > label {
    color: $font-color-black;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 2px;
  }
}
